<h1>Welcome to {{hotelName}}</h1>

<!--We can also use Property Binding-->
<!--can only be used with any valid html property of any valid html tag-->
Number of rooms:
<div [innerText]="numberOfRooms"></div>
<!--document.getElementById('numberOfRooms').innerText = numberOfRooms;-->


<div [hidden]="hideRooms">
  There are {{numberOfRooms}} rooms available.
<!--  {{ roomList | json }} -->
  <!--json pipe debugging help-->
</div>

<!--{{ rooms?.availableRooms ?? 'No rooms available' }}-->
<!--? is null operator-->
<!--If rooms exist, then check .available rooms-->
<!--?? is null coalescing operator-->
<!--If rooms is null, then use 'No rooms available'-->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<!--ngIf is like if statement-->
<!--directive!-->
<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list [roomList]="roomList" [title]="title"
  (selectedRoom)="selectRoom($event)"
  ></hinv-rooms-list>
</div>

<!--we also need the user to interact with the app, so there need to be certain events-->
<!--we can use event binding for that-->
<button class="btn btn-primary" (click)="toggle()">Toggle</button>
<!--the function toggle() is written in rooms.component.ts-->

